{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

    <div class="col-md-12">
        <h2>{{ header }}</h2>
        <ol>
            {% if is_paginated %}
                {% bootstrap_pagination page_obj %}
            {% endif %}
            <table style="width:100%">
                <tr>
                    <td>Created</td>
                    <td>Urlycode</td>
                    <td>Full URL</td>
                    <td>Clicks</td>
                    {% if request.user == bookmarks.first.user %}
                        <td>Edit</td>
                        <td>Delete</td>
                    {% endif %}
                </tr>
                {% for bookmark in bookmarks %}
                    <tr>
                        {#                        <td><span class="badge">{{ bookmarks.num_clicks }}#}
                        {#                </span></td> #TODO: Add number of clicks #}
                        {#                        <td>{{ bookmark.user }}</td>#}
                        <td>{{ bookmark.timestamp }}</td>
                        <td>
                            <a href="{% url 'bookmark_detail' bookmark.pk %}">{{ bookmark.short }}
                        </td>
                        <td>
                            <a href="{% url 'click' bookmark.pk %}">
                            {{ bookmark.url }}</td>
                        <td>
                            {{ bookmark.num_clicks }}
                        </td>
                        {% if request.user == bookmark.user %}
                            <td>
                                <a href="{% url 'bookmark_update' bookmark.pk %}">...
                            </td>
                            </td>
                            <td>
                                <a href="{% url 'bookmark_delete' bookmark.pk %}">X
                            </td>
                        {% endif %}
                    </tr>

                {% endfor %}
            </table>
        </ol>
    </div>

    {#    <div class="col-md-6">#}
    {#        <h2>Most Rated:</h2>#}
    {#        <ol>#}
    {#            {% for movie in most_rated %}#}
    {#                <li><span class="badge">{{ movie.rating_avg|floatformat:"1" }}#}
    {#                </span>#}
    {#                    <a href="{% url 'show_movie' movie.id %}">{{ movie }}</a>#}
    {##}
    {#                    <small>#}
    {#                        <small>#}
    {#                            <small>#}
    {#                                <!--FIXME: Find a better way to make small text-->#}
    {#                                {{ movie.rating_count }}#}
    {#                            </small>#}
    {#                        </small>#}
    {#                    </small>#}
    {##}
    {#                </li>#}
    {#            {% endfor %}#}
    {##}
    {#        </ol>#}
    {#    </div>#}
{% endblock %}