{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
{# FIXME: Clarify differentiation between user page and dashboard #}
    <div class="col-md-9">
        <h2>{{ request.user }}'s Dashboard</h2>
        <ol>
            {% if is_paginated %}
                {% bootstrap_pagination page_obj %}
            {% endif %}
            <table style="width:100%">
                <tr>
{#                    TODO: Add sortable column headings/urls #}
                    <td>Date</td>
{#                    <td>Created By</td>#}
                    <td>Urlycode</td>
                    <td>Full URL</td>
                    <td>Clicks - All Time</td>
{#                    <td>Clicks - Past 30 days</td>#}
                    {% if request.user == mine.first.user %}
                        <td>Edit</td>
                        <td>Delete</td>
                    {% endif %}
                </tr>
                {% for bookmark in mine %}
                    <tr>
                        <td>{{ bookmark.timestamp }}</td>
{#                        <td>{{ bookmark.user }}</td>#}
                        <td>
                            <a href="{% url 'bookmark_detail' bookmark.pk %}">{{ bookmark.short }}
                        </td>
                        <td>
                            <a href="{% url 'click' bookmark.pk %}">
                            {{ bookmark.url }}</td>
                        <td> {{ bookmark.count_total }} </td>
{#                        <td>#}
{#                            {%  if bookmark in recent %}#}
{#                            {{ recent.get.bookmark.count_recent }}  {# FIXME: show value here #}
{#                            {% else %}#}
{#                                0#}
{#                            {% endif %}#}
{#                        </td>#}
                        {% if request.user == bookmark.user %}
                            <td>
                                <a href="{% url 'bookmark_update' bookmark.pk %}">...
                            </td>
                            </td>
                            <td>
                                <a href="{% url 'bookmark_delete' bookmark.pk %}">X
                            </td>
                        {% endif %}
                    </tr>

                {% endfor %}
            </table>
        </ol>
    </div>

    {#    <div class="col-md-6">#}
    {#        <h2>Most Rated:</h2>#}
    {#        <ol>#}
    {#            {% for movie in most_rated %}#}
    {#                <li><span class="badge">{{ movie.rating_avg|floatformat:"1" }}#}
    {#                </span>#}
    {#                    <a href="{% url 'show_movie' movie.id %}">{{ movie }}</a>#}
    {##}
    {#                    <small>#}
    {#                              {{ movie.rating_count }}#}
    {#                    </small>#}
    {##}
    {#                </li>#}
    {#            {% endfor %}#}
    {##}
    {#        </ol>#}
    {#    </div>#}
{% endblock %}