.jumbotron {
	/*font-size:8px;*/
	background-image: url(popcorn-fade.jpg);
	background-size: 1200px;
	background-position: -280px -180px;
    background-repeat: no-repeat;
	color: #008cba;
	background-attachment:fixed;
	min-height:300px;
	/*margin-top:0px;*/
	/*margin-bottom:8px;*/
	margin-left:50px;
	/*-webkit-opacity: 0.25;*/
  /*-moz-opacity: 0.25;*/
  /*opacity: 0.25;*/
}

.badge{
	/*font-size:12px;*/
	margin: 5px;
	background-color: #008cba;
	border-radius: 50%;
}